---
import { getCollection, render } from "astro:content";
import Layout from "../../layouts/Layout.astro";

export async function getStaticPaths() {
    const posts = (await getCollection("posts")).filter(({ data }) => !data.draft);
    return posts.map((post) => ({
        params: { id: post.id },
        props: { post },
    }));
}

const { post } = Astro.props;
const { data } = post;
const { title, pubDate, tags = [], content, description } = data;

const {Content} = await render(post);
---

<Layout>
    <article class="prose">
        <header>{title}</header>
        <Content />
        <p><strong>Published on:</strong> {pubDate}</p>
        <p><strong>Description:</strong> {description}</p>
        <p><strong>Tags:</strong> {tags.join(", ")}</p>
    </article>
</Layout>
