@import "tailwindcss";
@plugin "@tailwindcss/typography";


:root {
    /* https://colorhunt.co/palette/faf9eea2af9bdccfc0eeeeee */
    --sage: #A2AF9B;
    --grey: #EEEEEE;
}

@theme {
    --color-sage: var(--sage);
}

html,
body {
    margin: 0;
    width: 100%;
    height: 100%;
}
