---

---

<footer class="bg-sage sticky top-full bottom-0 w-full p-4 text-black">
  <div class="container mx-auto">
    <p class="text-center">
      © {new Date().getFullYear()}
      <strong>while True: mate()</strong>. All rights reserved.
    </p>
  </div>
</footer>
