---

---

<header class="bg-sage p-4 text-black">
  <a href="/" class="flex items-center justify-center md:justify-start">
    <img class="h-30 md:h-40" src="/whiletrue-mate-original.svg" alt="Logo" />
  </a>
</header>
